<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=], initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>We are very happy that you have registered on our platform</div>
    <br />
    <br />
    <span>You have signed up as: <%- userName %></span>
    <br />
    <div>You are going to love it here.</div>
    <br />
    <br />
    <br />
    <a href="<%= url %>">click here to verify</a>
  </body>
</html>
